body {
    background-color:white;

}
.container {
 display: flex;
 flex-wrap: wrap;
}

.ProductsforSale {
width: 30%;
box-shadow:10px 10px 5px;
border: 1px solid lightblue;
margin-right: 30px;
}

img {
display: flex;
justify-content: center;
height: 320px;
width: 320px;
margin-right: auto;
margin-left: auto;
display: block;
margin-top: 10px;
}

.primary {
display: flex;
justify-content: center;
flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  border: 1px solid lightblue;
}

.spec {
  word-spacing: 0.25;
}

ul{
  list-style: none;
}
.mary {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-direction: column;
    width: 70%;
    margin-right: 140px;
    margin-left: 140px;
    font-family:Tahoma, sans-serif;
}

.zoe {
    margin-top: -15px;
}

.specsfooter {
    margin-top: -20px;
    margin-bottom: -20px
}

.pricingheader {
    margin-top: -20px;
    margin-bottom: -20px;
}

.description {
    margin-top: 20px;
    margin-bottom: 15px;
}

p {
    display: flex;
    justify-content: center;
}

.Available {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    margin-top: 2px;
    color: white;
    background-color: lightblue;
}

.spec {
    display: flex;
    justify-content: center;
}

.dates {
    display: flex;
    justify-content: center;
}

.price {
    display: flex;
    justify-content: center;
}

.productTitle {
    display: flex;
    justify-content: center;
    font-style: italic;
}